* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

header {
    width: 1000px;
    height: 100%;
    margin: auto;
    padding-top: 50px;
}

body {
    background-image: url(img/sfondo.png);
    background-size: cover;
}

.menu-container {
    margin: auto;
    width: 1000px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#menu li {
    display: inline-block;
}

#menu li a {
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin:0 15px 0 42px;
}
