* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

header {
    width: 1000px;
    margin: auto;
    padding-top: 10px;
}

body {
    background-image: url(img/sfondo.png);
    background-size: cover;
}

.menu-container {
    margin: auto;
    width: 1000px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#menu li {
    display: inline-block;
}

#menu li a {
    line-height: 35px;
    display: inline-block;
    text-decoration: none;
    color: white;
    margin:0 15px 0 42px;
}

.page {
    width: 1000px;
    margin: auto;
    padding-top: 30px;
}

aside {
    width: 15%;
    height: 400px;
    background-color: pink;
    float: left;
}

main {
    width: 60%;
    height: 500px;
    background-color: green;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
